*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

:root{

     --hue-base: 240;

     --header-nav-font-color: hsl(var(--hue-base), 6%, 58%);
     --header-input-font-color: hsl(0, 0%, 24%);
     --header-input-back-color: hsl(0, 0%, 93%);
    
     --main-back-color: hsl(0, 0%, 96%);
     --main-font-color: hsl(var(--hue-base), 6%, 13%); 
     --main-bc-color: hsl(0, 0%, 100%);

     --footer-font-color: hsl(var(--hue-base), 6%, 21%);

    font-size: 62.5%;
    font-family: "Mulish", "Arial";
    color: var(--main-font-color);

    

}

body{
    font-size: 1.6rem;  
    height: 100vh;
}


div#app{
    height: 100vh;
    grid-template-rows: max-content 1fr max-content;
    display: grid;
   
}



i.ph-shopping-cart-simple{
    font-size: 3.2rem;
    color: black;
    transition: 0.5s ease-in;
    cursor: pointer;
}

i.ph-shopping-cart-simple:hover{
    transform: scale(1.08);
}
div#app header, 
nav, 
nav ul{
    display: flex;
    align-items: center;
    gap: 7.2rem;
    list-style: none;

    font-size: 1.8rem;
    font-weight: 700;
    line-height: 160%;
    color: var(--header-nav-font-color);

    
}

div#app nav ul li{
    cursor: pointer;

    transition: 0.5s ease;

}

div#app nav ul li:hover{
    
     color: #000;

}

div#app nav ul li.active{
    color: var(--main-font-color);
}


div#app header form{
    flex: 1;
}



div#app header form div.input-wrapper label{
    position: absolute; 
    overflow: hidden;
    width: 1px;
    height: 1px;
}


div#app header form div.input-wrapper input{
    min-width: 100%;
    padding: 1.6rem;
    font-family: "Mulish", "Arial";
    border: none;
    border-radius: 0.6rem;
    background-color: var(--header-input-back-color);

}

div#app header form div.input-wrapper input::placeholder{
    
    font-family: "Mulish", "Arial";
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--header-input-font-color);
    opacity: 0.56;
}


div#app header img.avatar{
    width: 4.2rem;
    height: 4.2rem;
    object-fit: cover; 
    border-radius: 50%;

    object-fit: cover; 
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
    
}


div#app header img.avatar:hover{

    filter: brightness(50%);

}

.container{
    padding: 1.6rem 3.2rem;
    width: min(112rem ,100%);
    margin: 0 auto;
    
}

main{
    background-color: var(--main-back-color);
    overflow-y: scroll;
}

main div.container h1{
    font-size: 2.4rem;
    padding: 1.6rem 0 0;
    
}


div.container section.galery-container{
    margin-top: 3.6rem;
    display: grid;
    gap: 2.2rem;
    grid-template-columns: repeat(3, 1fr);

    

}

figure.galery-item{
    
    border-radius: 0.8rem;
    background-color: var(--main-back-color);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

figure.galery-item:hover{  
    transform: scale(1.03);
}



 figure.galery-item img{
    width:100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    display: block;
    transition: filter, transform 0.200s ease-out 0s; 
 }

 figure.galery-item img:hover{
    filter:  hue-rotate(10deg) contrast(101%) saturate(200%); 
    transform: scale(1.03) rotate(-0.3deg);
}


 figure.galery-item figcaption.description{
    padding: 2.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: relative;
    z-index: 1;
 }
  
 figure.galery-item figcaption.description h2{
    
    font-size: 1.8rem;
 }

 figure.galery-item figcaption.description span{
    font-size: 1.2rem;
    padding: .8rem;
    background-color: var(--header-input-back-color);
    border-radius: .6rem;
 }

footer p{
    text-align: center;
    padding: 1.6rem;
    font-weight: 600;
}



header{
    --startY: -100%;
    animation: move .5s ease-in-out;
   
}


figure.galery-item{
    --delay: 0.2s;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: var(--delay);
    animation-fill-mode: backwards;
    
}

footer{
    --startY: 100%;
    animation: move .5s ease-in-out;
    
}


@keyframes move {
    from{
        transform: translateY(var(--startY));
    }
}


@keyframes appear {
    0%{
        opacity: 0;
        transform: scale(0.8);
    }

    50%{
        opacity: .5;
        transform: scale(1.05);

    }
}


.product-container {
    display: flex;
    align-items: center;
    margin-top: 3.6rem;
}

.product {
    display: flex;
    width: 100%;
}

.product-item {
    width: 60%;
    margin-right: 2rem; 
    max-width: 60%; 
}

.description {
    width: 40%; 
}

.product-item img {
    width: 100%; 
    max-height: 100%; 
    display: block;
    margin: 0 auto;
}

.description h2 {
    font-size: 2.4rem; 
    margin-bottom: 1rem; 
}

.description p {
    margin-bottom: 1rem;
}


button {
    padding: 1rem 2rem; 
    font-size: 1.6rem; 
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c8bcbc;
}

.image-gallery {
    position: relative;
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: 5rem; 
}

.thumbnails {
    display: flex;
    flex-direction: column; 
    margin-right: 10rem;
}

.thumbnail {
    width: 60px; /* Set the width of thumbnails */
    height: auto;
    margin-bottom: 0.5rem; /* Adjust spacing between thumbnails */
    cursor: pointer;
}

.thumbnail:hover {
    opacity: 0.7;
}

.main-image {
    height: auto;
    width: 70%;
}

.description {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin:2rem;
}

.size-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-right: 5rem;
}

.size-btn {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    color: #171616;
}

.size-btn.selected {
    background-color: #d3c2c2;
    color: #171616;
}

@media screen and (max-width: 768px) {
    div#app header,
    nav,
    nav ul {
        flex-direction: column;
        gap: 1.6rem;
        text-align: center;
    }

    div#app header form div.input-wrapper input {
        width: 100%;
    }

    main div.container section.galery-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .image-gallery {
        width: 100%;
        margin: 0;
        flex-direction: row;
        align-items: flex-start;
    }

    .main-image {
        width: 80%;
    }

    .thumbnails {
        margin: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    div#app header,
    nav,
    nav ul {
        gap: 3rem;
    }

    div#app header img.avatar {
        width: 3.6rem;
        height: 3.6rem;
    }

    main div.container section.galery-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .thumbnails {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        flex-wrap: nowrap; /* Ensure thumbnails stay in a single row */
    }

    .thumbnail {
        flex: 0 0 calc(20% - 1rem); /* Set width to 20% of the container width minus margin */
        height: auto;
        margin: 0 0.5rem; /* Adjust margin for spacing between thumbnails */
    }

    .main-image {
        width: 50%;
        height: auto;
        margin-bottom: 1rem;
    }

    .description {
        width: 40%; /* Adjust width for the description */
        margin-left: 2rem; /* Add margin to separate from the main image */
    }

    .product-container {
        flex-direction: row; /* Ensure thumbnails and main image are in a row */
        align-items: flex-start; /* Align items at the start of the flex container */
        justify-content: space-between; /* Distribute items along the main axis with space between */
        flex-wrap: wrap; /* Allow items to wrap if they exceed container width */
    }
    
    
}


@media screen and (max-width: 480px) {
    div#app header,
    nav,
    nav ul {
        gap: 1rem;
    }

    div#app header img.avatar {
        width: 3rem;
        height: 3rem;
    }

    main div.container section.galery-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .product {
        flex-direction: column;
        align-items:  center;
        justify-content: center;
    }

    .description {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .size-list {
        margin: 0;
    }

    .thumbnails {
        display: flex;
        flex-direction: row;
    }

    .image-gallery {
        width: 400px;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
}

a {
    text-decoration: none;
    color: inherit;
}